
<Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">

            <Microsoft.AspNetCore.Components.Authorization.AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if(context.User?.Identity?.IsAuthenticated == false)
                    {
                       <Library.BlazorUI.Components.SharedComponents.RedirectToLogin/>
                    }else
                    {
                        <PageTitle>
                            Not Authorize 
                        </PageTitle>
                        <LayoutView>
                            <p role="alert">Desolé vous n'etes pas autorisé à acceder à la page </p>
                        </LayoutView>
                    }
                </NotAuthorized>

            </Microsoft.AspNetCore.Components.Authorization.AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>


           @*  <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
        </Found>
        <NotFound>
            <PageTitle>Not Found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert"> Sorry nothing Here</p>
            </LayoutView>
        </NotFound>
    </Router>
</Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>

